# ansible managed
{% if hostvars[inventory_hostname]['bird'] is defined and hostvars[inventory_hostname]['bird']['static'] is defined %}
protocol static static_{{ inventory_hostname | replace('-','_') }} {
{% for route in hostvars[inventory_hostname].bird.static %}
    {{ route }}
{% endfor %}
}
{% endif %}

{% for config in hostvars[inventory_hostname]['configspaces'] | default([]) %}
{%   if hostvars[inventory_hostname][config]['config']['bird'] is defined and hostvars[inventory_hostname][config]['config']['bird']['static'] is defined %}
protocol static static_{{ config | replace('-','_') }} {
{% for route in hostvars[inventory_hostname][config]['config'].bird.static %}
    {{ route }}
{% endfor %}
}
{%   endif %}
{% endfor %}
