{% for function in birdprotocols.functions | default({}) | dict2items() %}
{%   if function.value is mapping %}
function {{ function.key }}({% if function.value.parameters is defined %}{{ function.value.parameters }}{% endif %}){% if function.value.returntype is defined %} -> {{ function.value.returntype }}{% endif %}
{%     for line in function.value.header | default([]) %}
  {{ line }}
{%     endfor %}
{
{%     for line in function.value.body | default([]) %}
  {{ line }}
{%     endfor %}
}
{%   else %}
function {{ function.key }} {
{%     for line in function.value | default([]) %}
  {{ line }}
{%     endfor %}
}
{%   endif %}
{% endfor %}
