{% for filter in birdprotocols.filter | default({}) | dict2items() %}
{%   if filter.value is mapping %}
filter {{ filter.key }}
{%     for line in filter.value.header | default([]) %}
  {{ line }}
{%     endfor %}
{
{%     for line in filter.value.body | default([]) %}
  {{ line }}
{%     endfor %}
}
{%   else %}
filter {{ filter.key }} {
{%     for line in filter.value | default([]) %}
  {{ line }}
{%     endfor %}
}
{%   endif %}
{% endfor %}
