# ansible managed
{% if hostvars[inventory_hostname]['bird'] is defined and hostvars[inventory_hostname]['bird']['static'] is defined %}
protocol static static4_{{ inventory_hostname | replace('-','_') }} {
    ipv4;
{% for route in hostvars[inventory_hostname]['bird']['static'] %}
    {{ route }}
{%   endfor %}
}
{% endif %}

{% if hostvars[inventory_hostname].bird is defined and hostvars[inventory_hostname]['bird']['static6'] is defined %}
protocol static static6_{{ inventory_hostname | replace('-','_') }} {
    ipv6;
{%   for route in hostvars[inventory_hostname]['bird']['static6']%}
    {{ route }}
{%   endfor %}
}
{% endif %}

# Configspaces
{% for config in configspaces | default([]) %}
#  {{ config }}
{%   if hostvars[inventory_hostname][config]['config']['bird'] is defined and hostvars[inventory_hostname][config]['config']['bird']['static'] is defined %}
protocol static static4_{{ config | replace('-','_') }} {
    ipv4;
{%     for route in hostvars[inventory_hostname][config]['config']['bird']['static'] %}
    {{ route }}
{%     endfor %}
}
{%   endif %}
{%   if hostvars[inventory_hostname][config]['config']['bird'] is defined and hostvars[inventory_hostname][config]['config']['bird']['static6'] is defined %}
protocol static static6_{{ config | replace('-','_') }} {
    ipv6;
{%     for route in hostvars[inventory_hostname][config]['config']['bird']['static6'] %}
    {{ route }}
{%     endfor %}
}
{%   endif %}
{% endfor %}
