{% for protocol in birdprotocols.kernel | default({}) | dict2items() %}
protocol kernel {{ protocol.key }} {
{%     if protocol.value.kernel_table is defined %}
  kernel table {{ protocol.value.kernel_table }};
{%     endif %}
{%     if protocol.value.graceful_restart is defined %}
  graceful restart {{ protocol.value.graceful_restart | replace('True','yes') }};
{%     endif %}
  metric {{ protocol.value.metric | default('32') }};
  scan time {{ scantime | default(birdprotocols.scantime | default('10') ) }};
  {{ protocol.value.channel | default('ipv4') }} {
    import {{ protocol.value.import_filter | default('none') }};
    export {{ protocol.value.export_filter | default('all') }};
{%     if protocol.value.table is defined %}
    table {{ protocol.value.table }};
{%     endif %}
  };
}
{% endfor %}
