# ansible managed
{% for ospf in birdprotocols['ospf'] | default({}) | dict2items %}
# {{ ospf }}
protocol ospf {{ ospf['version'] | default('v2') }} ospf_{{ ospf['version'] | default('v2') }}_{{ ospf.key }} {
{%   if ospf['version'] | default('v2') == "v2" %}
  ipv4 {
    import {{ ospf.value.import_filter | default('all') }};
    export {{ ospf.value.export_filter | default('all') }};
  };
{%   endif %}
{%   if ospf['version'] | default('v2') == "v3" %}
  ipv4 {
    import {{ ospf.value.import_filter | default('all') }};
    export {{ ospf.value.export_filter | default('all') }};
  };
  ipv6 {
    import {{ ospf.value.import_filter6 | default('all') }};
    export {{ ospf.value.export_filter6 | default('all') }};
  };
{%   endif %}
  rfc1583compat no;
  stub router no;
  tick 1;
  ecmp no;
{%   for area in ospf.value.area | default({}) | dict2items %}
  # {{ area }}
  area {{ area.key }} {
    external {
      0.0.0.0/0;
    };
{%     for iface in area.value.interface | default({}) | dict2items %}
    interface "{{ iface.key }}" {
      {% if iface.value.cost is defined %}cost {{ iface.value.cost }}{% else %}cost 200{% endif %};
      hello 10;
      poll 20;
      retransmit 5;
      priority 10;
      wait 40;
      type bcast;
{%     if iface.value.authentication is defined %}      authentication  {{ iface.value.authentication }};{% endif %}
{%     if iface.value.password is defined %}      password  "{{ iface.value.password }}";{% endif %}
    };
{%     endfor %}
  };
{%   endfor %}
};
{% endfor %}
