---
- name: Include variables
  ansible.builtin.include_role:
    name: lihas_variables
#  when: configspaces is not defined
- name: Install software bird1
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - bird
  loop_control:
    loop_var: item
  when: lihas_bird_version | default(1) == 1
- name: Install software bird2
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - bird2
  loop_control:
    loop_var: item
  when: lihas_bird_version | default(1) == 2
- name: Sysctl net.ipv4.ip_forward = 1
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    sysctl_file: /etc/sysctl.d/98-ansible.conf
    value: '1'
    sysctl_set: true
    state: present
    reload: true
- name: collect protocols
  ansible.builtin.set_fact:
    birdprotocols: "{{ birdprotocols | default({}) | ansible.builtin.combine( hostvars[inventory_hostname][item]['config']['bird'] | default({}), recursive=true ) }}"
    cacheable: false
  loop: "{{ configspaces }}"
- name: collect protocols, local
  ansible.builtin.set_fact:
    birdprotocols: "{{ birdprotocols | default({}) | ansible.builtin.combine( hostvars[inventory_hostname]['bird'] | default({}), recursive=true ) }}"
    cacheable: false
  when: hostvars[inventory_hostname]['bird'] is defined
- name: Config files for bird2 or bird1v4
  ansible.builtin.template:
    src: "etc/bird{{ lihas_bird_version | default(1) }}/{{ file }}.j2"
    dest: "/etc/bird/{{ file }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - bird_debug.conf
    - bird_filters_ansible.conf
    - bird_functions_ansible.conf
    - bird_protocols_bgp.conf
    - bird_protocols_kernel.conf
    - bird_protocols_ospf.conf
    - bird_protocols_pipe.conf
    - bird_protocols_static.conf
    - bird_tables_ansible.conf
    - bird.conf
  loop_control:
    loop_var: file
  notify: Reload bird
- name: Config files for bird1v6
  ansible.builtin.template:
    src: "etc/bird{{ lihas_bird_version | default(1) }}/{{ file }}.j2"
    dest: "/etc/bird/{{ file }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - bird6_filters_ansible.conf
    - bird6_protocols_static.conf
    - bird6_protocols_ospf.conf
    - bird6_protocols_bgp.conf
    - bird6_protocols_radv.conf
    - bird6.conf
  loop_control:
    loop_var: file
  notify: Reload bird
  when: lihas_bird_version | default(1) == 1
- name: Config files for bird2
  ansible.builtin.template:
    src: "etc/bird{{ lihas_bird_version | default(1) }}/{{ file }}.j2"
    dest: "/etc/bird/{{ file }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - bird_protocols_radv.conf
  loop_control:
    loop_var: file
  notify: Reload bird
  when: lihas_bird_version | default(1) == 2
- name: Extra bird config files, create list
  ansible.builtin.set_fact:
    birdfiles: "{{ birdfiles | default([]) + hostvars[inventory_hostname][item]['config']['bird']['templates'] | default([]) }}"
    cacheable: false
  loop: "{{ configspaces }}"
- name: Extra bird config files
  ansible.builtin.template:
    dest: "/{{ item }}"
    src: "{{ item }}"
    mode: "0644"
  loop: "{{ birdfiles | default([]) }}"
  loop_control:
    loop_var: item
  notify: Reload bird
...
