# ansible managed

{% for radv in birdprotocols.radv | default({}) | dict2items %}
protocol radv {{ radv.key }} {
    export all;
  propagate routes no;
{%   for rdnss in radv.value.rdnss | default([]) %}
  rdnss {{ rdnss }};
{%   endfor %}
{%   if radv.value.dnssl is defined %}
  dnssl {
{%     for domain in radv.value.dnssl | default([]) %}
    domain "{{ domain }}";
{%     endfor %}
  };
{%   endif %}
{%   for iface in radv.value.interfaces | default({}) | dict2items %}
  interface "{{ iface.key }}" {
{%     if iface.value.preference is defined %}
    route preference  {{ iface.value.preference }};
{%     endif %}
{%     for prefix in iface.value.prefix | default({}) | dict2items %}
    prefix {{ prefix.key }} {
{%       for line in prefix.value | default([]) %}
      {{ line }}
{%       endfor %}
    };
{%     endfor %}
    };
{%   endfor %}
}
{% endfor %}
