# ansible managed
{% if hostvars[inventory_hostname]['bird'] is defined %}
{%   for ospf in hostvars[inventory_hostname]['bird']['ospf'] | default({}) | dict2items %}
protocol ospf {{ ospf.key }} {
  preference 100;
  import {{ ospf.value.import_filter | default('all') }};
  export {{ ospf.value.export_filter | default('all') }};
  rfc1583compat no;
  stub router no;
  tick 1;
  ecmp no;
  {% for area in ospf['area'] | default({}) | dict2items %}
  area {{ area.key }} {
    external {
      0.0.0.0/0;
    };
    {% for iface in area['interface'] | default({}) | dict2items %}
    interface "{{ iface.key }}" {
      {% if iface.cost is defined %}cost {{ iface.cost }}{% else %}cost 200{% endif %};
      hello 10;
      poll 20;
      retransmit 5;
      priority 10;
      wait 40;
      type bcast;
      {% if iface['authentication'] is defined %}authentication  {{ iface['authentication'] }};{% endif %}
      {% if iface['password'] is defined %}password  "{{ iface['password'] }}";{% endif %}
    };
    {% endfor %}
  };
  {% endfor %}
};
{%   endfor %}
{% endif %}

{% for config in hostvars[inventory_hostname]['configspaces'] | default([]) %}
{%   if hostvars[inventory_hostname][config]['config']['bird'] is defined and hostvars[inventory_hostname][config]['config']['bird']['ospf'] is defined %}
{%     for ospf in hostvars[inventory_hostname][config]['config']['bird']['ospf'] | default({}) | dict2items %}
protocol ospf {{ ospf.key }} {
  preference 100;
  import {{ ospf.value.import_filter | default('all') }};
  export {{ ospf.value.export_filter | default('all') }};
  rfc1583compat no;
  stub router no;
  tick 1;
  ecmp no;
  {% for area in ospf.value.area | default({}) | dict2items %}area {{ area.key }} {
    external {
      0.0.0.0/0;
    };
    {% for iface in area.value['interface'] | default({}) | dict2items %}interface "{{ iface.key }}" {
      {% if iface.value.cost is defined %}cost {{ iface.value.cost }}{% else %}cost 200{% endif %};
      hello 10;
      poll 20;
      retransmit 5;
      priority 10;
      wait 40;
      type bcast;
{% if iface.value.authentication is defined %}      authentication  {{ iface.value.authentication }};{% endif %}
{% if iface.value.password is defined %}      password  "{{ iface.value.password }}";{% endif %}
    };
{% endfor %}
  };
{% endfor %}
};
{%     endfor %}
{%   endif %}
{% endfor %}

