# ansible managed
{% for static in birdprotocols['staticnamed'] | default({}) | dict2items %}
protocol static {{ static.key }} {
{%   if static.value.check_link is defined %}
    check link {{ static.value.check_link | replace('True','on') }};
{%   endif %}
{%   if static.value.preference is defined %}
    preference {{ static.value.preference }};
{%   endif %}
{%   if static.value.table is defined %}
    table {{ static.value.table }};
{%   endif %}
{%   for route in static.value.routes | default([]) %}
    {{ route }}
{%   endfor %}
};
{% endfor %}

{% if hostvars[inventory_hostname]['bird'] is defined and hostvars[inventory_hostname]['bird']['static'] is defined %}
protocol static static_{{ inventory_hostname | replace('-','_') }} {
{% for route in hostvars[inventory_hostname].bird.static %}
    {{ route }}
{% endfor %}
}
{% endif %}

{% for config in hostvars[inventory_hostname]['configspaces'] | default([]) %}
{%   if hostvars[inventory_hostname][config]['config']['bird'] is defined and hostvars[inventory_hostname][config]['config']['bird']['static'] is defined %}
protocol static static_{{ config | replace('-','_') }} {
{% for route in hostvars[inventory_hostname][config]['config'].bird.static %}
    {{ route }}
{% endfor %}
}
{%   endif %}
{% endfor %}
